
			body {
				font-family: 'Open Sans', sans-serif;
				height:100%;
				background:#e6e6e6 !important;
			}
			.back-link a {
				color: #4ca340;
				text-decoration: none; 
				border-bottom: 1px #4ca340 solid;
			}
			
			.back-link a:hover,
			.back-link a:focus {
				color: #408536; 
				text-decoration: none;
				border-bottom: 1px #408536 solid;
			}
			h1 {
				margin: 0;
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
				color: #1c1d1e;
				font-size: 26px;
				margin-bottom: 3px;
			}
			h2 {
				color: #fff;
				font-family: 'Open Sans', sans-serif;
				font-weight: normal;
				padding-left: 80px;
			}
			
		    
		#footer {     
			bottom:0;    
			width: 100%;
			margin: 0;
			background-color: #E6E6FA;
			height: 20px;}
			
			
			#footer .footer_wrap{
			width:960px;
			height:auto;
			margin: 0 auto;
			}
			
			#footer .footer_wrap .footer_blocks{
			width:240px;
			height:auto;
			float:left;	
			line-height:30px;
			}
			
			.entry-header .inner {
				text-align: left;
				float:left;
				margin: 0 auto 20px auto;
				width: 800px;
			}
			.entry-header { padding-top: 20px; background-color: rgba(10,10,10,0.4); height: 50px; position:fixed; top:0; width:100%; z-index:100; border-bottom: 1px #ebebeb solid;}